<div>
    <h3>Tabla de contenido</h3>
    <ul>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
    </ul>
</div>
<div class="autor_section">
    <h3>Sobre el autor</h3>
    <div class="flex center img_autor">
        <img src="/images/profile.webp" alt="Foto del autor">
    </div>
    <div style="text-align: center;">
        <b>Nombre del autor</b>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolor itaque, rem voluptatem quis libero nemo commodi natus, deleniti.</p>
        <address class="flex center">
            <img src="/icons/email.png" alt="email">
            <a href="mailto:correodep@gmail.com">Contácta al autor</a>
        </address>
    </div>
</div>