<div>
    <h3>Tabla de contenido</h3>
    <ul>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
        <li>
            <a href="">Subtitulo 1</a>
        </li>
    </ul>
</div>
<div class="autor_section">
    <h3>Sobre el autor</h3>
    <div class="flex center img_autor strech">
        <img src="/images/profile.webp" alt="Foto del autor">
        <div style="margin-left: 10px;">
            <b>Nombre del autor</b>
            <p>Analista, escritor(a), bloguero, etc</p>
            <address class="flex">
                <img src="/icons/email.png" alt="email">
                <a href="mailto:correodep@gmail.com">Contacto</a>
            </address>
        </div>
    </div>
</div>