<header class="flex center">
    <div class="flex space-between">
        <div class="flex main_content_header">
            <section>
                <span><b>MiBlog</b></span>
            </section>
            <section>
                <nav>
                    <ul>
                        <li>
                            <a href="">Inicio</a>
                        </li>
                        <li>
                            <a href="">Categorías</a>
                        </li>
                        <li>
                            <a href="">Únete a nosotros</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>

        <section>
            <input type="text" placeholder="Dime sobre que quieres leer">
        </section>
    </div>
</header>