/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open-Sans", sans-serif;
}
@font-face {
    font-family: "Open-Sans";
    src: url("/fonts/opensans.ttf");
}
:root{
    --max-width-big-screen: 1000px;
    --color-1: #0076ad;
    --color-2: #66a6ff;
    --color-3: #89f7fe;
}
.flex {
    display: flex;
    width: 100%;
    align-items: center;
}
.center {
    justify-content: center;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
p{
    margin: 20px 0px;
}