<app-navbar-blog></app-navbar-blog>
<div class="banner"></div>
<div class="container article">
    <div>
        <h1>TÍTULO DEL ARTICULO</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente eos in enim nihil repudiandae perspiciatis quas necessitatibus temporibus placeat at cum nulla laboriosam accusamus dicta quisquam a repellat, soluta voluptatum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia expedita, qui, dolores perspiciatis sint aut ipsum quaerat veniam distinctio soluta facere. Aspernatur exercitationem hic quod placeat id sapiente quasi! Nemo!</p>
        <ul class="temas">
            <li>Tema 1</li>
            <li>Tema 2</li>
            <li>Tema 3</li>
            <li>Tema 4</li>
        </ul>
        <p><b>Publicado: </b> <span>12 de julio de 2030 - 5:00 p.m.</span><b> Por: </b><span>Usuario Identificado</span></p>
        <hr>
    </div>
    <div class="flex" style="align-items: flex-start;">
        <main>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nostrum, minus aspernatur veniam ex, architecto perspiciatis adipisci culpa exercitationem in eos corrupti officia quis recusandae corporis? Corrupti amet consequuntur commodi!
            </p>
            <h2>
                Subtitulo del articulo
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <h2>
                Subtitulo del articulo
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <h2>
                Subtitulo del articulo
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem facere aliquid omnis quaerat, hic quis soluta itaque tenetur modi libero corrupti odit, magnam atque quidem quos, consectetur ad repudiandae.</p>
        </main>
        <aside>
            <app-sidebar-ad></app-sidebar-ad>
        </aside>
    </div>
</div>

<app-footer></app-footer>